@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #030712; /* Tailwind's gray-950 */
  --foreground: #ffffff; /* White text for contrast */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827; /* Ensure dark mode also uses gray-900 */
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}





